#ignore insource build output
*.log
*.o
*.out
*.sca
*.vec
*_m.*
.emacs.desktop
.tkenvrc
CMakeCCompiler.cmake
CMakeCXXCompiler.cmake
CMakeCache.txt
CMakeLists.txt
CMakeSystem.cmake
CMakeTmp
DartTestfile.txt
Documentation/cl2html.sh
Doxyconf
Examples/IPv6/HMIPv6Network/HMIPv6Network
Examples/IPv6/HMIPv6Network/test.out
Examples/IPv6/HMIPv6Network/tkHMIPv6Network
INET
IPv6SuiteWithINET.kdevelop
IPv6SuiteWithINET.kdevelop.filelist
IPv6SuiteWithINET.kdevelop.pcs
IPv6SuiteWithINET.kdevses
Makefile
Research/Networks/EthNetwork/EthNetwork
Research/Networks/EthNetwork/test.out
Research/Networks/EthNetwork/tkEthNetwork
Research/Networks/MIPv6Network/MIPv6Network
Research/Networks/MIPv6Network/test.out
Research/Networks/MIPv6Network/tkMIPv6Network
Research/Networks/PingNetwork/PingNetwork
Research/Networks/PingNetwork/test.out
Research/Networks/PingNetwork/tkPingNetwork
Research/Networks/TestNetwork/TestNetwork
Research/Networks/TestNetwork/test.out
Research/Networks/TestNetwork/tkTestNetwork
Research/Networks/TunnelNet/TunnelNet
Research/Networks/TunnelNet/test.out
Research/Networks/TunnelNet/tkTunnelNet
Testing
\#*
cmake*
core
core.*
general.ini
nedfiles.lst
omnetppconfig
tkINET
